body {
    background-image: url("seattle.jpg"); /* Phillip created a background image and made it responsive */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center; /* Phillip moved text-align CSS code to the body to apply for all text */
    font-family: Verdana, Tahoma, sans-serif;