body {
    background-image: url("IMG_9805.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}
.intro {
    background-color: black;
    display: block;
    text-decoration: none;
    padding: 10px;
    width: 200px;
    float: left;
    height: 100%;
}
.vertical-menu {
    width: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .vertical-menu a {
    background-color: black;
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
  }
  .vertical-menu a:hover {
    background-color: rgb(152, 212, 230);
    color: black;
  }
  .vertical-menu a.active {
    background-color: rgb(255, 238, 0);
    color: black;
  }

.jumbotron {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 70%;
}
.artleft {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgba(209, 252, 255, 0.884);
    width: 45%;
    float: left;
}
.artright {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 5px solid rgb(255, 255, 255);
    background-color: rgba(209, 252, 255, 0.884);
    width: 45%;
    float: right;
}

.card-title {
    color: rgb(34, 32, 134);
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
    color: white;
    font-size: 50px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #3B5998;
    color: white;
  }

  .instagram {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f84ff8;
    color: white;
  }

  .linkedin {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #007bb5;
    color: white;
  }
  