body {
    background-image: linear-gradient(rgb(104, 222, 255), #B8FFE2);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    height: 100%;
    flex-shrink: 0;
    margin: 0;
}

.sidenav {
    background-color: black;
    display: block;
    text-decoration: none;
    width: 200px;
    float: left;
    flex-direction: column;
    margin: 0;
    height: 100%;
    display: block;
    position: fixed;
    padding-top: 15px;
}

.vertical-menu {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
  }
  .vertical-menu a {
    background-color: black;
    color: white;
    padding: 15px;
    display: block;
    text-decoration: none;
    margin: 0;
  }
  .vertical-menu a:hover {
    background-color: rgb(81, 161, 253);
    transition: all 0.3s ease;
    color: black;
  }
  .vertical-menu a.active {
    background-color: rgb(78, 231, 167);
    color: black;
  }

.jumbotron {
    background-image: linear-gradient(rgba(225, 250, 255, 0.678), rgba(99, 156, 194, 0.678));
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    display: block; /* fill page excluding sidebar and margins */ 
}

.main {
    margin-left: 200px;
    padding: 0px 10px;
}

/* make picture fit inside div container */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* placement of pictures in div containers */
.img1 {
  float: right;
  margin-left: 20px;
}

.img2 {
  float: left;
  margin-right: 20px;
}

/* colored banner spanning h1 headings in bio webpage */ 
.biohead {
  display: flex;
  background-color: rgb(145, 252, 243);
}

/* Create two equal columns that floats next to each other */
.artleft { /* left columns */
  float: left;
  width: 45%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border: 5px solid rgb(255, 255, 255);
  background-color: rgba(224, 255, 253, 0.788);
  position: relative;
}

.artright { /* right columns */
  float: right;
  width: 45%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border: 5px solid rgb(255, 255, 255);
  background-color: rgba(224, 255, 253, 0.788);
  position: relative;
}

.card-title {
    color: rgb(34, 32, 134); /* style h1 heading in card */
}

  .thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    box-shadow: 0 0 2px 1px rgba(1, 82, 109, 0.5); /* dark blue shadow */
  }

  .desc-container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 60px;
    border: 6px solid white;
    background-color: rgba(140, 222, 255, 0.884);
    width: auto;
    float: center;
    font-size: 1.2em;
    display: block;
  }

  /* style click me button */
  .btn-primary {
    margin-top: 20px;
    font-size: 1.2em;
  }
